
@{
    ViewBag.Title = "Rental";
}
<h2>Rent Form</h2>



<form id="rent-form">

    <div class="mb-3">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer-typeahead" name="customer" data-rule-validateCustomer="true" required type="text" value="" class="typeahead" />
        </div>

    </div>


    <div class="mb-3">
        <label>Movies</label>
        <div class="tt-container">
            <input id="movie-typeahead" data-rule-atlestOne="true" type="text" value="" class="typeahead" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul id="movies-list" required class="list-group mb-3">
            </ul>
        </div>
    </div>


    <button class="btn btn-primary">Submit</button>
</form>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}